 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>


<footer class="bg-light py-4 mt-5">
    <div class="container text-center">
        <p class="mb-0">© {{year}} FindTravelBuddy. All rights reserved.</p>
    </div>
</footer>
</html>
